<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczLfyl.dao.BangDanJiLuMapper">
	<insert id="add" parameterType="com.znczLfyl.entity.BangDanJiLu">
		insert into bang_dan_ji_lu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mz!=null">
				mz,
			</if>
			<if test="pz!=null">
				pz,
			</if>
			<if test="jz!=null">
				jz,
			</if>
				rq,
			<if test="ddId!=null">
				ddId,
			</if>
			<if test="bz!=null">
				bz,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mz!=null">
				#{mz},
			</if>
			<if test="pz!=null">
				#{pz},
			</if>
			<if test="jz!=null">
				#{jz},
			</if>
				now(),
			<if test="ddId!=null">
				#{ddId},
			</if>
			<if test="bz!=null">
				#{bz},
			</if>
		</trim>
	</insert>
	<update id="edit" parameterType="com.znczLfyl.entity.BangDanJiLu">
		update bang_dan_ji_lu set 
		<trim suffixOverrides=",">
			<if test="mz!=null">
				mz=#{mz},
			</if>
			<if test="pz!=null">
				pz=#{pz},
			</if>
			<if test="jz!=null">
				jz=#{jz},
			</if>
			<if test="bz!=null">
				bz=#{bz},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from bang_dan_ji_lu bdjl left join ding_dan dd on bdjl.ddId=dd.id where 1=1
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
	</select>
	<select id="queryList" resultType="com.znczLfyl.entity.BangDanJiLu">
		select bdjl.*,dd.ddh from bang_dan_ji_lu bdjl left join ding_dan dd on bdjl.ddId=dd.id where 1=1
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		order by bdjl.rq desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.znczLfyl.entity.BangDanJiLu">
		select bdjl.*,dd.ddh from bang_dan_ji_lu bdjl,ding_dan dd where bdjl.ddId=dd.id and bdjl.id=#{id}
	</select>
</mapper>