<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczLfyl.dao.DingDanMapper">
	<select id="queryZHCXForInt" resultType="java.lang.Integer">
		select count(*) from ding_dan dd left join ding_dan_zhuang_tai ddzt on dd.ddztId=ddzt.id
		 left join yun_shu_shang yss on dd.yssId=yss.id left join fa_huo_dan_wei fhdw on dd.fhdwId=fhdw.id
		 left join shou_huo_bu_men shbm on dd.shbmId=shbm.id where 1=1
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="ddztId!=''&amp;ddztId!=null">
			and dd.ddztId=#{ddztId}
		</if>
	</select>
	<select id="queryZHCXList" resultType="com.znczLfyl.entity.DingDan">
		select dd.*,ddzt.mc ddztMc,yss.mc yssMc,fhdw.mc fhdwMc,shbm.mc shbmMc from ding_dan dd left join ding_dan_zhuang_tai ddzt on dd.ddztId=ddzt.id
		 left join yun_shu_shang yss on dd.yssId=yss.id left join fa_huo_dan_wei fhdw on dd.fhdwId=fhdw.id
		 left join shou_huo_bu_men shbm on dd.shbmId=shbm.id where 1=1
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		<if test="ddztId!=''&amp;ddztId!=null">
			and dd.ddztId=#{ddztId}
		</if>
		order by dd.bjsj desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.znczLfyl.entity.DingDan">
		select dd.*,wzlx.mc wzlxMc,wz.mc wzMc,yss.mc yssMc,fhdw.mc fhdwMc,shbm.mc shbmMc from ding_dan dd left join wu_zi_lei_xing wzlx on dd.wzlxId=wzlx.id left join wu_zi wz on wzlx.id=wz.wzlxId
		 left join yun_shu_shang yss on dd.yssId=yss.id left join fa_huo_dan_wei fhdw on dd.fhdwId=fhdw.id
		 left join shou_huo_bu_men shbm on dd.shbmId=shbm.id where dd.id=#{id}
	</select>
	<insert id="add" parameterType="com.znczLfyl.entity.DingDan">
		insert into ding_dan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ddh!=null">
				ddh,
			</if>
			<if test="ddztId!=null">
				ddztId,
			</if>
			<if test="sjsfzh!=null">
				sjsfzh,
			</if>
			<if test="sjxm!=null">
				sjxm,
			</if>
			<if test="cph!=null">
				cph,
			</if>
			<if test="lxlx!=null">
				lxlx,
			</if>
			<if test="yzxzl!=null">
				yzxzl,
			</if>
			<if test="sjzl!=null">
				sjzl,
			</if>
			<if test="zlceb!=null">
				zlceb,
			</if>
			<if test="wzlxId!=null">
				wzlxId,
			</if>
			<if test="wzId!=null">
				wzId,
			</if>
			<if test="yssId!=null">
				yssId,
			</if>
			<if test="fhdwId!=null">
				fhdwId,
			</if>
			<if test="shbmId!=null">
				shbmId,
			</if>
				bjsj
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ddh!=null">
				#{ddh},
			</if>
			<if test="ddztId!=null">
				#{ddztId},
			</if>
			<if test="sjsfzh!=null">
				#{sjsfzh},
			</if>
			<if test="sjxm!=null">
				#{sjxm},
			</if>
			<if test="cph!=null">
				#{cph},
			</if>
			<if test="lxlx!=null">
				#{lxlx},
			</if>
			<if test="yzxzl!=null">
				#{yzxzl},
			</if>
			<if test="sjzl!=null">
				#{sjzl},
			</if>
			<if test="zlceb!=null">
				#{zlceb},
			</if>
			<if test="wzlxId!=null">
				#{wzlxId},
			</if>
			<if test="wzId!=null">
				#{wzId},
			</if>
			<if test="yssId!=null">
				#{yssId},
			</if>
			<if test="fhdwId!=null">
				#{fhdwId},
			</if>
			<if test="shbmId!=null">
				#{shbmId},
			</if>
				now()
		</trim>
	</insert>
	<delete id="deleteByIds">
		delete from ding_dan where 1=1
		<foreach collection="list" item="id" open=" and cast(id as char) in (" separator="," close=")">
		#{id}
		</foreach>
	</delete>
	<update id="edit" parameterType="com.znczLfyl.entity.DingDan">
		update ding_dan set 
		<trim suffixOverrides=",">
			<if test="ddh!=null">
				ddh=#{ddh},
			</if>
			<if test="ddztId!=null">
				ddztId=#{ddztId},
			</if>
			<if test="sjsfzh!=null">
				sjsfzh=#{sjsfzh},
			</if>
			<if test="sjxm!=null">
				sjxm=#{sjxm},
			</if>
			<if test="cph!=null">
				cph=#{cph},
			</if>
			<if test="lxlx!=null">
				lxlx=#{lxlx},
			</if>
			<if test="yzxzl!=null">
				yzxzl=#{yzxzl},
			</if>
			<if test="sjzl!=null">
				sjzl=#{sjzl},
			</if>
			<if test="zlceb!=null">
				zlceb=#{zlceb},
			</if>
			<if test="wzlxId!=null">
				wzlxId=#{wzlxId},
			</if>
			<if test="wzId!=null">
				wzId=#{wzId},
			</if>
			<if test="yssId!=null">
				yssId=#{yssId},
			</if>
			<if test="fhdwId!=null">
				fhdwId=#{fhdwId},
			</if>
			<if test="shbmId!=null">
				shbmId=#{shbmId},
			</if>
				bjsj=now()
		</trim>
		where id=#{id}
	</update>
</mapper>