<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczLfyl.dao.DingDanMapper">
	<select id="queryZHCXForInt" resultType="java.lang.Integer">
		select count(*) from ding_dan where 1=1
		<if test="ddh!=''&amp;ddh!=null">
			and ddh like CONCAT('%',#{ddh},'%')
		</if>
	</select>
	<select id="queryZHCXList" resultType="com.znczLfyl.entity.DingDan">
		select * from ding_dan where 1=1
		<if test="ddh!=''&amp;ddh!=null">
			and ddh like CONCAT('%',#{ddh},'%')
		</if>
		order by bjsj desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.znczLfyl.entity.DingDan">
		select * from ding_dan where id=#{id}
	</select>
	<insert id="add" parameterType="com.znczLfyl.entity.DingDan">
		insert into ding_dan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ddh!=null">
				ddh,
			</if>
			<if test="sjsfzh!=null">
				sjsfzh,
			</if>
			<if test="sjxm!=null">
				sjxm,
			</if>
			<if test="cph!=null">
				cph,
			</if>
			<if test="lxlx!=null">
				lxlx,
			</if>
			<if test="yzxzl!=null">
				yzxzl,
			</if>
			<if test="sjzl!=null">
				sjzl,
			</if>
			<if test="zlceb!=null">
				zlceb,
			</if>
			<if test="wzlxId!=null">
				wzlxId,
			</if>
			<if test="wzId!=null">
				wzId,
			</if>
				bjsj
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ddh!=null">
				#{ddh},
			</if>
			<if test="sjsfzh!=null">
				#{sjsfzh},
			</if>
			<if test="sjxm!=null">
				#{sjxm},
			</if>
			<if test="cph!=null">
				#{cph},
			</if>
			<if test="lxlx!=null">
				#{lxlx},
			</if>
			<if test="yzxzl!=null">
				#{yzxzl},
			</if>
			<if test="sjzl!=null">
				#{sjzl},
			</if>
			<if test="zlceb!=null">
				#{zlceb},
			</if>
			<if test="wzlxId!=null">
				#{wzlxId},
			</if>
			<if test="wzId!=null">
				#{wzId},
			</if>
				now()
		</trim>
	</insert>
	<update id="edit" parameterType="com.znczLfyl.entity.DingDan">
		update ding_dan set 
		<trim suffixOverrides=",">
			<if test="ddh!=null">
				ddh=#{ddh},
			</if>
			<if test="sjsfzh!=null">
				sjsfzh=#{sjsfzh},
			</if>
			<if test="sjxm!=null">
				sjxm=#{sjxm},
			</if>
			<if test="cph!=null">
				cph=#{cph},
			</if>
			<if test="lxlx!=null">
				lxlx=#{lxlx},
			</if>
			<if test="yzxzl!=null">
				yzxzl=#{yzxzl},
			</if>
			<if test="sjzl!=null">
				sjzl=#{sjzl},
			</if>
			<if test="zlceb!=null">
				zlceb=#{zlceb},
			</if>
			<if test="wzlxId!=null">
				wzlxId=#{wzlxId},
			</if>
			<if test="wzId!=null">
				wzId=#{wzId},
			</if>
				bjsj=now()
		</trim>
		where id=#{id}
	</update>
</mapper>