<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczLfyl.dao.DingDanZhuangTaiMapper">
	<select id="queryCBBList" resultType="com.znczLfyl.entity.DingDanZhuangTai">
		select id,mc from ding_dan_zhuang_tai order by px
	</select>
</mapper>