<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczLfyl.dao.GuoBangJiLuMapper">
	<insert id="add" parameterType="com.znczLfyl.entity.GuoBangJiLu">
		insert into guo_bang_ji_lu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="gbzl!=null">
				gbzl,
			</if>
			<if test="gbzt!=null">
				gbzt,
			</if>
				gbsj,
			<if test="gblx!=null">
				gblx,
			</if>
			<if test="ddId!=null">
				ddId,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="gbzl!=null">
				#{gbzl},
			</if>
			<if test="gbzt!=null">
				#{gbzt},
			</if>
				now(),
			<if test="gblx!=null">
				#{gblx},
			</if>
			<if test="ddId!=null">
				#{ddId},
			</if>
		</trim>
	</insert>
	<update id="edit" parameterType="com.znczLfyl.entity.GuoBangJiLu">
		update guo_bang_ji_lu set 
		<trim suffixOverrides=",">
			<if test="gbzl!=null">
				gbzl=#{gbzl},
			</if>
			<if test="gbzt!=null">
				gbzt=#{gbzt},
			</if>
			<if test="gblx!=null">
				gblx=#{gblx},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from guo_bang_ji_lu gbjl,ding_dan dd where gbjl.ddId=dd.id
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
	</select>
	<select id="queryList" resultType="com.znczLfyl.entity.GuoBangJiLu">
		select * from guo_bang_ji_lu gbjl,ding_dan dd where gbjl.ddId=dd.id
		<if test="ddh!=''&amp;ddh!=null">
			and dd.ddh like CONCAT('%',#{ddh},'%')
		</if>
		order by gbjl.gbsj desc
		limit #{rowNum},#{rows}
	</select>
	<select id="selectById" resultType="com.znczLfyl.entity.GuoBangJiLu">
		select gbjl.*,dd.ddh from guo_bang_ji_lu gbjl,ding_dan dd where gbjl.ddId=dd.id and gbjl.id=#{id}
	</select>
</mapper>