<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczLfyl.dao.ShenHeJiLuMapper">
	<insert id="add" parameterType="com.znczLfyl.entity.ShenHeJiLu">
		insert into shen_he_ji_lu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="shlx!=null">
				shlx,
			</if>
				shsj,
			<if test="shjg!=null">
				shjg,
			</if>
			<if test="shrId!=null">
				shrId,
			</if>
			<if test="bz!=null">
				bz,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="shlx!=null">
				#{shlx},
			</if>
				now(),
			<if test="shjg!=null">
				#{shjg},
			</if>
			<if test="shrId!=null">
				#{shrId},
			</if>
			<if test="bz!=null">
				#{bz},
			</if>
		</trim>
	</insert>
</mapper>