<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znczLfyl.dao.YongHuMapper">
	<select id="getYongHu" resultType="com.znczLfyl.entity.YongHu">
		select * from yong_hu where yhm=#{yhm} and mm=#{mm}
	</select>
</mapper>